/*Carousel*/
.carousel-wrapper {
  min-width: 100%;
  margin-top: 38%; }

.vertical .carousel-inner {
  height: 100%; }

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
  -moz-transition: 0.6s ease-in-out top;
  -ms-transition: 0.6s ease-in-out top;
  -o-transition: 0.6s ease-in-out top;
  transition: 0.6s ease-in-out top; }

.carousel.vertical .active {
  top: 0; }

.carousel.vertical .next {
  top: 400px; }

.carousel.vertical .prev {
  top: -400px; }

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0; }

.carousel.vertical .active.left {
  top: -400px; }

.carousel.vertical .active.right {
  top: 400px; }

.carousel.vertical .item {
  left: 0; }

.carousel .slide-indicators {
  right: 50px;
  top: 48%;
  float: none;
  position: absolute; }

.carousel-indicators li {
  width: 8px;
  height: 8px;
  border: 1px solid #313A3F; }

.carousel-indicators li.active {
  width: 10px;
  height: 10px; }

.carousel-inner {
  font-family: "open_sanslight", sans-serif; }

.carousel-inner h2 {
  font-size: 3.877em;
  padding: 0;
  margin: 0; }

.carousel-inner h2 span {
  font-family: "open_sansregular", sans-serif;
  font-weight: 600; }

.carousel-inner p {
  font-family: "open_sanslight", sans-serif;
  font-size: 3em; }

.carousel-inner p span {
  color: #0feb9e; }

.carousel-inner .skills {
  font-size: 1.125em; }

.carousel-inner .skills span {
  padding: 0 35px;
  font-weight: 600; }

@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansBold';
  src: url("../fonts/openSansBold/OpenSansBold.eot");
  src: url("../fonts/openSansBold/OpenSansBold.eot") format("embedded-opentype"), url("../fonts/openSansBold/OpenSansBold.woff2") format("woff2"), url("../fonts/openSansBold/OpenSansBold.woff") format("woff"), url("../fonts/openSansBold/OpenSansBold.ttf") format("truetype"), url("../fonts/openSansBold/OpenSansBold.svg#OpenSansBold") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  width: 100%; }

body {
  font-family: 'open_sansregular', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  width: 100%; }

ul {
  list-style: none; }

p {
  font-family: "open_sansregular", sans-serif; }

img {
  -webkit-user-drag: none; }

textarea {
  resize: none; }

section {
  position: relative; }

.container-fluid.full-width {
  padding: 0; }

.pad-normal-lg {
  padding-bottom: 60px; }

.pad-big-lg {
  padding-bottom: 215px; }

@media all and (max-width: 767px) {
  .pad-big-sm {
    padding-bottom: 90px; } }

.header {
  background-size: cover;
  background: #020c13 url(../img/slide-1.jpg) repeat-x fixed top center;
  min-height: 100%;
  width: 100%;
  color: #fff;
  position: relative; }
  .header .header-top {
    background: rgba(16, 22, 54, 0.2);
    position: fixed;
    height: 70px;
    width: 100%;
    z-index: 1; }
    .header .header-top .logo_img {
      display: inline-block; }
    .header .header-top .slogan {
      display: inline-block; }
      .header .header-top .slogan h1 {
        font: lighter 0.8em open_sanslight, sans-serif;
        color: #fff;
        position: relative;
        top: 2px; }
      .header .header-top .slogan span {
        font-size: 14px;
        color: #32b0ee; }
  .header .soc-block-wrap {
    position: absolute;
    bottom: -24px;
    width: 100%; }
  .header .navbar-toggle {
    background: #000;
    margin-right: 0;
    border-radius: 6px;
    margin-top: -34px; }
    .header .navbar-toggle .icon-bar {
      background: #f4f7f9; }

.main-nav ul li a:hover, .main-nav ul li a:active, .main-nav ul li .active, .main-nav ul li .active-full-screen {
  border-top: 2px solid #32b0ee;
  text-decoration: none; }

@media all and (min-width: 767px) and (max-width: 1200px) {
  .main-nav {
    position: absolute;
    top: 0;
    right: 2%; } }

.main-nav ul {
  z-index: 2; }
  .main-nav ul li {
    display: inline-block;
    padding-right: 30px; }
    .main-nav ul li a {
      font: 0.9em/4.5em 'open_sansregular', sans-serif;
      color: #fff;
      display: block;
      border-top: 2px solid transparent; }
      .main-nav ul li a:focus {
        text-decoration: none; }

/*social inks*/
.social-wrap {
  margin: 105px 0 40px 0; }
  .social-wrap ul {
    padding-left: 0; }
    .social-wrap ul li {
      display: inline-block;
      padding-right: 17px; }
      .social-wrap ul li a {
        color: rgba(255, 255, 255, 0.4); }
        .social-wrap ul li a:hover {
          color: rgba(255, 255, 255, 0.9); }

.down-prev {
  border: 2px solid #0eb493;
  padding: 3px 10px;
  border-radius: 5px;
  margin: 14px 0 4px -8px;
  display: inline-block;
  opacity: 0.8; }
  .down-prev:hover {
    border-color: #fff; }
  .down-prev:hover span {
    color: #fff; }
  .down-prev span {
    font-size: 28px;
    color: #0eb493;
    -webkit-animation: arrowDomn 3s infinite;
    -moz-animation: arrowDomn 3s infinite;
    -o-animation: arrowDomn 3s infinite;
    animation: arrowDomn 3s infinite; }

@keyframes arrowDomn {
  0% {
    position: relative;
    top: 0; }
  50% {
    position: relative;
    top: 6px; }
  100% {
    position: relative;
    top: 0; } }

h3.h-category {
  font: 600 1.75em "open_sansregular", sans-serif;
  color: #0eb493;
  text-transform: uppercase;
  text-align: center;
  padding-top: 70px; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.features {
  background: #f4f7f9; }
  .features h3 {
    padding-top: 50px; }
  .features h4 {
    font-size: 1.25em;
    font-weight: 600; }
  .features .item-features {
    opacity: 0; }
  .features .item-features-anim {
    animation-name: fadeIn;
    animation-duration: 3s; }
    .features .item-features-anim:nth-child(1) {
      animation-duration: 0.5s;
      opacity: 1; }
    .features .item-features-anim:nth-child(2) {
      animation-duration: 2s;
      opacity: 1; }
    .features .item-features-anim:nth-child(3) {
      animation-duration: 2.5s;
      opacity: 1; }

.icon-fue {
  width: 40px;
  height: 40px;
  background: url("../img/features_sprite.png") repeat-x;
  float: left;
  position: relative;
  top: 6px; }
  .icon-fue.one {
    background-position: 124px; }
  .icon-fue.two {
    background-position: 81px; }
  .icon-fue.three {
    background-position: 40px; }

.feature_inner {
  margin-left: 58px; }

/* Section Works*/
p.s-description {
  padding: 28px 0;
  font-weight: 600;
  color: rgba(6, 32, 51, 0.8); }

.carousel-indicators li {
  border-color: rgba(255, 255, 255, 0.2); }

.gallery-image {
  margin: 0 auto; }
  @media only screen and (min-width: 1140px) {
    .gallery-image {
      min-height: 586px; } }

.gallery-nav-mobile {
  margin-bottom: 12px; }
  .gallery-nav-mobile select {
    padding: 8px; }

.gallery-nav {
  margin-top: 14px; }
  .gallery-nav ul {
    margin-bottom: 42px; }
    .gallery-nav ul li {
      display: inline-block;
      margin-right: 50px; }
      .gallery-nav ul li a {
        font-weight: bold;
        color: #062033;
        font-size: 0.875em;
        cursor: pointer; }
        .gallery-nav ul li a:hover, .gallery-nav ul li a:active, .gallery-nav ul li a:focus {
          text-decoration: none; }
        .gallery-nav ul li a:hover {
          color: #0eb493; }
    .gallery-nav ul li.current-cat {
      margin-right: 30px; }
      .gallery-nav ul li.current-cat .label-success {
        color: #fff;
        background: #0eb493;
        padding: 6px 20px;
        border-radius: 6px; }
        .gallery-nav ul li.current-cat .label-success:hover {
          color: #fff;
          background: #0c9c80; }

.item-gallery-global {
  float: left;
  position: relative; }
  .item-gallery-global .item-gall-hidden {
    display: none;
    color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }

.gallery-image .item-gallery-global:hover .item-gall-hidden {
  display: block; }

.gallery-image .item-img {
  width: 25%;
  max-height: 300px;
  overflow: hidden; }
  @media all and (max-width: 480px) {
    .gallery-image .item-img {
      width: 100%; } }
  @media all and (min-width: 481px) and (max-width: 1100px) {
    .gallery-image .item-img {
      width: 50%; } }
  .gallery-image .item-img img {
    width: 100%;
    height: auto;
    cursor: pointer; }
  .gallery-image .item-img:hover .hidden-gal-content {
    display: block; }
  .gallery-image .item-img .item-gall-hidden {
    background: rgba(35, 184, 153, 0.9); }
    .gallery-image .item-img .item-gall-hidden a.hidden-gal-inner {
      display: block;
      text-decoration: none;
      color: inherit;
      position: relative;
      top: 50%;
      margin-top: -56px; }
      .gallery-image .item-img .item-gall-hidden a.hidden-gal-inner i {
        border: 1px solid #fff;
        padding: 12px;
        border-radius: 50%;
        font-size: 18px; }
      .gallery-image .item-img .item-gall-hidden a.hidden-gal-inner p {
        font-weight: bold;
        margin: 22px 0 2px 0;
        font-size: 1.125em; }
      .gallery-image .item-img .item-gall-hidden a.hidden-gal-inner .gal-category {
        font-size: 0.875em; }

.animate-w-delay {
  animation-name: fadeIn; }
  .animate-w-delay:nth-of-type(1) {
    animation-delay: 1s;
    animation-duration: 3s; }
  .animate-w-delay:nth-of-type(2) {
    animation-delay: 1.9s;
    animation-duration: 3s; }
  .animate-w-delay:nth-of-type(3) {
    animation-delay: 2.8s;
    animation-duration: 3s; }
  .animate-w-delay:nth-of-type(4) {
    animation-delay: 3.4s;
    animation-duration: 3s; }

.team-sec .item-gallery-global {
  float: none;
  overflow: hidden; }
  .team-sec .item-gallery-global img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 100%;
    cursor: pointer; }
    .team-sec .item-gallery-global img:hover {
      -webkit-filter: grayscale(0);
      filter: grayscale(0); }
  .team-sec .item-gallery-global .item-gall-hidden {
    padding: 10px 28px 22px 28px;
    display: block;
    background: rgba(24, 182, 151, 0.9);
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -ms-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    transition: all 0.9s ease;
    font-size: 1em; }
    .team-sec .item-gallery-global .item-gall-hidden h6 {
      font: bold 1em/1.5em "open_sansregular", sans-serif; }
    .team-sec .item-gallery-global .item-gall-hidden p {
      display: none; }

.full-item-team .social-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  text-align: center;
  width: 100%; }
  .full-item-team .social-wrap ul {
    padding: 0; }
    .full-item-team .social-wrap ul li {
      padding: 10px;
      background: rgba(0, 0, 0, 0.2);
      min-height: 42px;
      min-width: 42px;
      display: inline-block;
      margin-right: 5px; }
      .full-item-team .social-wrap ul li a {
        display: block;
        width: 100%; }
      .full-item-team .social-wrap ul li i {
        font-size: 22px; }

.full-item-team .active-green {
  color: #0eb493; }

.full-item-team .profession-list {
  margin-bottom: 16px; }
  .full-item-team .profession-list h6 {
    font: bold 1.5em  'open_sansregular', sans-serif;
    margin: 12px 14px;
    line-height: 1; }
  .full-item-team .profession-list span {
    font-size: 0.8em;
    color: rgba(115, 130, 141, 0.5);
    display: block; }

.fun-facts {
  background-size: cover;
  background: url("../img/fan-section-bg.jpg") repeat-x fixed top center;
  width: 100%;
  min-height: 600px;
  position: relative; }
  .fun-facts .icon-tablate {
    width: 125px;
    height: 125px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    position: relative;
    display: inline-block;
    margin: 14px  0 20px 0; }
    .fun-facts .icon-tablate .icon-facts {
      background: url("../img/facts-sprite.png") no-repeat 0 0;
      display: inline-block;
      width: 38px;
      height: 38px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -19px 0 0 -19px; }
      .fun-facts .icon-tablate .icon-facts-clock {
        background-position: 0 0; }
      .fun-facts .icon-tablate .icon-facts-friends {
        background-position: -45px 0; }
      .fun-facts .icon-tablate .icon-facts-rockets {
        background-position: -84px 0; }
      .fun-facts .icon-tablate .icon-facts-cup {
        background-position: -124px 0;
        width: 40px; }
  .fun-facts .facts-info {
    color: #fff;
    margin-top: -6px;
    margin-bottom: 16px; }
    .fun-facts .facts-info strong {
      font-size: 3.75em;
      font-weight: bold;
      display: block; }
    .fun-facts .facts-info span {
      font-size: 1.125em;
      text-transform: uppercase;
      display: block;
      opacity: 0.7; }

.contact-form .header-address {
  font: 1.375em 'open_sansregular', sans-serif;
  color: rgba(6, 32, 51, 0.8);
  margin-top: 30px; }

.contact-form address {
  font: 0.8em/2em 'open_sansregular', sans-serif;
  color: #6a737b;
  margin-top: 10px; }

.contact-form .form-send .header-address {
  font-weight: bold;
  font-size: 1.5em;
  color: #062033;
  margin-bottom: 45px; }
  @media all and (max-width: 979px) {
    .contact-form .form-send .header-address {
      text-align: center; } }

.contact-form .form-send .form-elem {
  display: block;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(91, 100, 110, 0.5);
  width: 100%;
  outline: none;
  font-size: 0.75em; }
  @media all and (max-width: 979px) {
    .contact-form .form-send .form-elem {
      margin-bottom: 14px; } }

.contact-form .form-send label {
  display: block;
  color: rgba(91, 100, 110, 0.5);
  font-size: 0.81em;
  font-weight: normal; }

.contact-form .form-send textarea {
  display: block; }

.contact-form .form-send .message-block {
  margin-top: 45px; }

.contact-form .form-send .complex-submit {
  margin-top: 34px; }
  .contact-form .form-send .complex-submit .icon-send {
    color: #0eb493;
    font-size: 22px;
    vertical-align: middle; }
  .contact-form .form-send .complex-submit .submit-button {
    border: none;
    background: none;
    color: #000;
    vertical-align: middle;
    outline: none; }

.contact-form ul.address-social {
  padding-left: 40px;
  margin-top: 43px; }
  @media all and (max-width: 979px) {
    .contact-form ul.address-social {
      display: block;
      text-align: center; } }
  @media all and (max-width: 979px) {
    .contact-form ul.address-social li {
      display: inline-block;
      padding-right: 2em; }
      .contact-form ul.address-social li:last-child {
        padding-right: 0; } }
  .contact-form ul.address-social li a {
    font-size: 29px;
    color: rgba(6, 32, 51, 0.2);
    text-decoration: none; }
    .contact-form ul.address-social li a:hover {
      color: rgba(6, 32, 51, 0.8); }
    .contact-form ul.address-social li a:hover img {
      opacity: 0.8; }
    .contact-form ul.address-social li a img {
      width: 32px;
      height: 32px;
      opacity: 0.2; }

.footer .logo, .footer h6 {
  margin-bottom: 34px; }

.map-section {
  position: relative;
  opacity: 0.6; }
  .map-section #map {
    width: 100%;
    height: 212px; }

.footer {
  border-top: 5px solid rgba(6, 32, 51, 0.8);
  background: #0eb493; }
  @media all and (max-width: 979px) {
    .footer {
      text-align: center; } }
  .footer .footer-inner {
    padding: 90px 0;
    position: relative; }
  .footer p {
    font-size: 0.8125em;
    line-height: 1.8em;
    color: #fff; }
  .footer h6 {
    font: 0.875em 'OpenSansBold', sans-serif;
    color: rgba(255, 255, 255, 0.8); }
  .footer .links-list-footer ul {
    padding: 0;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; }
    .footer .links-list-footer ul li {
      padding-right: 8px; }
      .footer .links-list-footer ul li a {
        font: 0.8125em/2.2em 'open_sansregular', sans-serif;
        color: #fff; }
        .footer .links-list-footer ul li a:hover, .footer .links-list-footer ul li a:active, .footer .links-list-footer ul li a:focus {
          text-decoration: none; }
  .footer .copyright {
    height: 100%;
    margin-top: 70px; }
    .footer .copyright p {
      border-left: 1px solid rgba(6, 32, 51, 0.2);
      padding-left: 12px;
      line-height: 1.95em; }
      @media all and (max-width: 979px) {
        .footer .copyright p {
          border: none; } }
      .footer .copyright p .fa-heart-o {
        color: rgba(6, 32, 51, 0.2);
        padding: 0 10px; }
      .footer .copyright p span {
        color: rgba(6, 32, 51, 0.8); }
      .footer .copyright p a {
        color: #fff; }
  .footer small {
    font-size: 0.8125em;
    color: rgba(6, 32, 51, 0.8);
    position: absolute;
    bottom: -39px;
    left: 27px; }
    @media all and (max-width: 979px) {
      .footer small {
        position: static;
        text-align: center; } }

.subscribe-cut-form input[type=text], .subscribe-cut-form input[type=submit] {
  background: transparent;
  color: rgba(255, 255, 255, 0.8);
  outline: none; }
  .subscribe-cut-form input[type=text]:focus, .subscribe-cut-form input[type=submit]:focus {
    border: 2px solid rgba(255, 255, 255, 0.4); }

.subscribe-cut-form {
  position: relative; }
  .subscribe-cut-form input[type=text] {
    display: inline-block;
    background: transparent;
    color: rgba(255, 255, 255, 0.8);
    outline: none;
    border: 2px solid #fff;
    border-radius: 4px;
    font-size: 14px;
    padding: 9px 5px;
    width: 100%; }
  .subscribe-cut-form input[type=submit] {
    border: none; }
  .subscribe-cut-form #sub-submit {
    background: url("../img/facts-sprite.png")-172px 0;
    width: 18px;
    height: 26px;
    position: absolute;
    top: 2px;
    right: 18px;
    display: inline-block;
    cursor: pointer; }
    .subscribe-cut-form #sub-submit:focus {
      border: none; }

#gal-portfolio .mix {
  display: none; }

/*MEDIA*/
/* Landscape - smartphone */
@media (max-width: 767px) {
  .logo {
    text-align: center; }
  .main-nav {
    overflow-y: hidden;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: relative;
    top: 20px; }
    .main-nav ul li {
      display: block !important;
      text-align: center;
      margin-bottom: 8px; }
      .main-nav ul li a {
        line-height: 2.8em;
        color: #fff;
        padding: 0;
        font-size: 1em; }
        .main-nav ul li a:hover, .main-nav ul li a.active {
          font-weight: bold;
          border-top: none;
          text-decoration: none;
          color: rgba(6, 32, 51, 0.8);
          width: 100%;
          background: rgba(255, 255, 255, 0.5); }
      .main-nav ul li .active-full-screen {
        border: none; }
  .carousel-wrapper {
    min-width: 100%;
    margin-top: 34%; }
  .carousel-inner h2 {
    font-size: 1.2em; }
  .carousel-inner p {
    font-family: "open_sanslight", sans-serif;
    font-size: 1.2em; }
  .full-item-team .social-wrap {
    margin-top: 48px; }
  .full-item-team .item-gall-hidden {
    font-size: 0.8em; } }
