.wrapper {
  margin-top: 12px; }

#container-gexf, #container-gexf-2 {
  max-width: 100%;
  width: 860px;
  height: 400px;
  margin: auto;
  border: 1px dashed #061828; }

.upload-wrapper {
  text-align: center;
  margin-top: 40px; }

.nav-uploader {
  display: inline-block;
  background: #1e83dc;
  color: #fff;
  font: 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid #0c3355; }
  .nav-uploader:hover {
    background: #74b4ec;
    border: 1px solid #1868af; }
  .nav-uploader:focus {
    outline: none; }

#upload-input {
  display: none; }

.data-nav {
  width: 860px;
  margin: 18px auto; }

.load-file-name {
  font: 16px/2 "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
  opacity: 0;
  color: #654d4d; }
  .load-file-name:nth-of-type(1) {
    font-weight: bold; }
  .load-file-name:nth-of-type(2) {
    font-style: italic; }
